<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs')%>
  <body>
    <%- include('../includes/nav-bar.ejs') %>
    <h1>Admin prod lists</h1>
    <main class="products-section">
      <!-- <h1>My Products</h1> -->
      <% if(products.length==0){ %>
      <h1>No products found</h1>
      <% } else { %>
      <div class="products">
        <% for(const product of products){ %>
        <div class="item_card">
          <div class="item_description">
            <div class="item-title"><b><%= product.title %></b></div>
            <img src="<%= product.imageURL %>" alt="<%= product.title%>" />
            <p><%= product.description %></p>
            <div>£ <%= product.price %></div>
            <br />
            <button>
              <a href="/admin/edit-product/<%= product._id%>">Edit</a>
            </button>
            <button>
              <a href="/admin/delete/<%= product._id%>">Delete</a>
            </button>
          </div>
        </div>
        <% } %>
      </div>

      <% } %>
    </main>
  </body>
</html>
