<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs')%>
  </head>
  <body>
    <%- include('../includes/nav-bar.ejs') %>
    <h1>Cart</h1>
    <div>
      <% if(products.length == 0){%>
      <h4>No Cart Items</h4>
      <%} else {%>
      <ul>
        <% for(const product of products) {%>
        <li>
          <b><%= product.title %></b>
          <span>£<%= product.price %></span>
          <form action="/add-to-cart" method="POST">
            <input type="hidden" name="_id" value="<%= product._id%>" />
            <button type="submit">
              <span> + </span>
            </button>
          </form>
          <button>
            <a href="/delete-item-from-cart/<%= product._id%>">-</a>
          </button>
          <span><%= product.quantity.qty%></span>
        </li>
        <% } %>
      </ul>
      <% } %>
      <div><b>Total Price : <%= totalPrice%></b></div>
      <form action="/orders" method="POST">
        <button type="submit">Order</button>
      </form>
    </div>
  </body>
</html>
